<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>用户列表--layui后台管理模板 2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/css/public.css" media="all"/>
    <style>
        .layui-form-label {
            width: 130px;
        }

        .layui-input-block {
            margin-left: 160px;
        }
    </style>
</head>

<body class="childrenBody">
<form class="layui-form layui-row">
    <input type="hidden" value="" id="id" name="id">
    <input type="hidden" id="grade" name="grade" value="0">
    <input type="hidden" id="contacts" name="contacts">
    <input type="hidden" id="phone" name="phone">
    <input type="hidden" id="progress" name="progress" value="0">
    <input type="hidden" id="managerId" name="managerId">
    <input type="hidden" id="company" name="company">
    <input type="hidden" id="membersId" name="membersId">
    <div class="layui-form-item">
        <div class="layui-inline layui-col-md5">
            <label class="layui-form-label">所属公司</label>
            <div class="layui-input-block">
                <!--<select name="company" id="company" lay-filter="company" lay-verify="required">
                    <option value="">请选择所属公司</option>
                </select>-->
                <input name="companyName" id="companyName" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-inline layui-col-md5">
            <label class="layui-form-label">项目编号</label>
            <div class="layui-input-block">
                <input name="number" id="number" class="layui-input" lay-verify="required"
                       placeholder="请输入项目编号" readonly>
            </div>
        </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-inline layui-col-md10">
            <label class="layui-form-label ">项目名称</label>
            <div class="layui-input-block">
                <input name="name" id="name" class="layui-input" lay-verify="name|required"
                       placeholder="请输入项目名称" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline layui-col-md5">
            <label class="layui-form-label">项目负责人</label>
            <div class="layui-input-block">
                <input type="text" id="manager" name class="layui-input" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline layui-col-md5">
            <label class="layui-form-label" id="memberLabel">项目成员</label>
            <div class="layui-input-block">
                <input type="text" id="memberSelect" name class="layui-input" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline layui-col-md5">
            <label class="layui-form-label">立项时间</label>
            <div class="layui-input-block">
                <input name="lxsj" id="lxsj" class="layui-input" lay-verify="required"
                       placeholder="请选择立项时间" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline layui-col-md5">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-block">
                <input name="jssj" id="jssj" class="layui-input" lay-verify="required"
                       placeholder="请选择立项时间" autocomplete="off">
            </div>
        </div>
    </div>
    <hr class="layui-bg-gray" style="height: 1px;margin-top: 10px;"/>
    <div id="sliders">
    </div>
</form>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/layui'
    }).extend({
        // selectM: '/extend/selectM',
        tableSelect: '/extend/tableSelect'
    }).use(['form', 'layer', 'laytpl', 'laydate', 'upload', 'rate', 'slider', 'table', 'tableSelect'], function () {
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            laydate = layui.laydate,
            $ = layui.jquery,
            rate = layui.rate,
            slider = layui.slider,
            laytpl = layui.laytpl
        ;
        var number = $("#number").val();
        $.ajax({
            url: '/statistics/getProjectInfo?number=' + number,
            success: function (data) {
                var d = data.data;
                console.log(d);
                $("#companyName").val(d.companyName);
                $("#number").val(d.number);
                $("#name").val(d.name);
                $("#manager").val(d.managerName);
                $("#memberSelect").val(d.membersName);
                $("#lxsj").val(d.lxsj);
                $("#jssj").val(d.jssj);
                initProgress(d.progress1)
            }
        })


        //循环生成项目进度列表
        function initProgress(progress) {
            var initParam = sessionStorage.getItem("initParam");
            var codes = JSON.parse(initParam)['codeMap'];
            //项目进度
            var projectprogress = codes['projectprogress'];
            var projectprogressChoice = [];
            //给进度赋值
            console.log(progress)
            var progress_value = JSON.parse(progress)
            var keys = Object.keys(progress_value);
            projectprogress.forEach(function (elem) {
                if (keys.indexOf(elem.codeValue + "") > -1) {
                    projectprogressChoice.push(elem);
                }
            })
            console.log(projectprogressChoice)
            projectprogressChoice.forEach(function (e) {
                var id = "silde" + e.codeValue;
                var html = "<div class='layui-form-item'>";
                html += "<div class='layui-inline layui-col-md10'>";
                html += "<label class='layui-form-label'>" + e.codeName + "</label>";
                html += "<div class='layui-input-block' style='padding: 15px 80px 0 0;'>";
                html += "<div id='" + id + "' class='demo-slider' ></div> ";
                html += "</div>";
                html += "</div>";
                html += "</div>";
                $("#sliders").append(html);
                // progress_value[e.codeValue] = 0;
                //开启输入框
                var ins = slider.render({
                    elem: '#' + id
                    , input: true //输入框
                    , disabled: true //禁用滑块
                    , change: function (value) {
                        progress_value[e.codeValue] = value;
                    }
                });
                ins.setValue(progress_value[e.codeValue])
            })

        }
    })
</script>
</body>
</html>