<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>首页--layui后台管理模板 2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/css/public.css" media="all"/>
    <link rel="stylesheet" href="/static/jointjs/css/joint.css" media="all"/>
</head>
<body class="childrenBody">
<table class="layui-hide" id="demo" lay-filter="test"></table>
<script type="text/html" id="barDemo">

    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>
<script type="text/html" id="barDemo1">

    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<!-- code -->

<script type="text/javascript" th:inline="none">
    layui.config({
        version: '1545041465443' //为了更新 js 缓存，可忽略
    });
    layui.use(['laydate', 'form', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'],
        function () {
            var table = layui.table, form = layui.form;
            var $ = layui.jquery
            //执行一个 table 实例
            $.post("/role/selectListData", {
                available: 1
            }, function (data) {
                roleList = data.data;
                table.render({
                    elem: '#demo',
                    height: 770,
                    url: '/statistics/getUser' //数据接口
                    ,
                    title: '用户表',
                    page: true //开启分页
                    ,
                    cols: [[ //表头
                        {
                            field: 'name',
                            title: '用户名称',
                            minWidth: 100,
                            align: 'center',
                            event: 'collapse',
                            templet: function (d) {
                                return '<div style="position: relative;\n' + '    padding: 0 10px 0 20px;">' + d.name + '<i style="left: 0px;" lay-tips="展开" class="layui-icon layui-colla-icon layui-icon-right"></i></div>'
                            }
                        },
                        {field: 'userName', title: '登录名称', minWidth: 100, align: "center"},
                        {
                            field: 'roleId', title: '角色名称', minWidth: 100, align: 'center', templet: function (d) {
                                var name = "";
                                roleList.forEach(function (e) {
                                    if (e.id === d.roleId) {
                                        name = e.roleName;
                                    }
                                });
                                return name;
                            }
                        },
                        {field: 'phone', title: '手机号码', minWidth: 150, align: "center"},
                        {field: 'projectCount', title: '项目个数', align: "center"}
                        // {
                        //     fixed: 'right',
                        //     width: 80,
                        //     align: 'center',
                        //     toolbar: '#barDemo'
                        // }
                    ]]
                });
            });

            //监听工具条
            table.on('tool(test)',
                function (obj) {
                    var data = obj.data;
                    if (obj.event === 'collapse') {
                        var trObj = layui.$(this).parent('tr'); //当前行
                        var accordion = true //开启手风琴，那么在进行折叠操作时，始终只会展现当前展开的表格。
                        var content = '<table></table>' //内容
                        //表格行折叠方法
                        collapseTable({
                            elem: trObj,
                            accordion: accordion,
                            content: content,
                            success: function (trObjChildren, index) { //成功回调函数
                                //trObjChildren 展开tr层DOM
                                //index 当前层索引
                                trObjChildren.find('table').attr("id", index).attr("lay-filter", index);
                                table.render({
                                    elem: "#" + index,
                                    url: '/statistics/getProjectByUser?manager=' + data.id,
                                    limit: 3,
                                    cellMinWidth: 80,
                                    cols: [[
                                        {field: 'name', title: '项目名称', align: "left", width: 200},
                                        {field: 'number', title: '项目编号', align: "left", width: 200},
                                        {field: 'lxsj', title: '立项时间', align: 'center', width: 120, sort: true},
                                        {field: 'jssj', title: '结束时间', align: 'center', width: 120, sort: true},
                                        {field: 'managerName', title: '项目经理', align: 'center', width: 100},
                                        {field: 'membersName', title: '项目成员', align: 'center', width: 350},
                                        {field: 'grade', title: '评分', align: 'center', width: 100},
                                        {field: 'contacts', title: '联系人', align: 'center', width: 100},
                                        {field: 'phone', title: '联系电话', align: 'center'}
                                        // {
                                        //     fixed: 'right',
                                        //     width: 80,
                                        //     align: 'center',
                                        //     toolbar: '#barDemo1'
                                        // }
                                    ]]
                                });
                                //监听行双击事件
                                table.on('rowDouble(' + index + ')', function (obj) {
                                    console.log(obj.data);
                                    setData(obj.data);
                                });
                            }
                        });

                    }
                });

            function collapseTable(options) {
                var trObj = options.elem;
                if (!trObj) return;
                var accordion = options.accordion,
                    success = options.success,
                    content = options.content || '';
                var tableView = trObj.parents('.layui-table-view'); //当前表格视图
                var id = tableView.attr('lay-id'); //当前表格标识
                var index = trObj.data('index'); //当前行索引
                var leftTr = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + index + '"]'); //左侧当前固定行
                var rightTr = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + index + '"]'); //右侧当前固定行
                var colspan = trObj.find('td').length; //获取合并长度
                var trObjChildren = trObj.next(); //展开行Dom
                var indexChildren = id + '-' + index + '-children'; //展开行索引
                var leftTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + indexChildren + '"]'); //左侧展开固定行
                var rightTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + indexChildren + '"]'); //右侧展开固定行
                var lw = leftTr.width() + 15; //左宽
                var rw = rightTr.width() + 15; //右宽
                //不存在就创建展开行
                if (trObjChildren.data('index') != indexChildren) {
                    //装载HTML元素
                    var tr = '<tr data-index="' + indexChildren + '"><td colspan="' + colspan + '"><div style="height: auto;padding-left:' + lw + 'px;padding-right:' + rw + 'px" class="layui-table-cell">' + content + '</div></td></tr>';
                    trObjChildren = trObj.after(tr).next().hide(); //隐藏展开行
                    var fixTr = '<tr data-index="' + indexChildren + '"></tr>';//固定行
                    leftTrChildren = leftTr.after(fixTr).next().hide(); //左固定
                    rightTrChildren = rightTr.after(fixTr).next().hide(); //右固定
                }
                //展开|折叠箭头图标
                trObj.find('td[lay-event="collapse"] i.layui-colla-icon').toggleClass("layui-icon-right layui-icon-down");
                //显示|隐藏展开行
                trObjChildren.toggle();
                //开启手风琴折叠和折叠箭头
                if (accordion) {
                    trObj.siblings().find('td[lay-event="collapse"] i.layui-colla-icon').removeClass("layui-icon-down").addClass("layui-icon-right");
                    trObjChildren.siblings('[data-index$="-children"]').hide(); //展开
                    rightTrChildren.siblings('[data-index$="-children"]').hide(); //左固定
                    leftTrChildren.siblings('[data-index$="-children"]').hide(); //右固定
                }
                success(trObjChildren, indexChildren); //回调函数
                heightChildren = trObjChildren.height(); //展开高度固定
                rightTrChildren.height(heightChildren + 115).toggle(); //左固定
                leftTrChildren.height(heightChildren + 115).toggle(); //右固定
            }

            function setData(data) {
                layui.layer.open({
                        title: '项目详情',
                        type: 2,
                        area: ["1000px", "600px"],
                        // area: 'auto',
                        content: "info.html",
                        success: function (layero, index) {
                            var body = layui.layer.getChildFrame('body', index);
                            //添加的时候设置
                            body.find("#company").val(data.companyName);
                            body.find("#grade").val(data.grade);
                            body.find("#contacts").val(data.contacts);
                            body.find("#phone").val(data.phone);
                            body.find("#companyName").val(data.companyName);
                            body.find("#id").val(data.id);
                            body.find("#name").val(data.name);
                            body.find("#number").val(data.number);
                            body.find("#lxsj").val(data.lxsj);
                            body.find("#jssj").val(data.jssj);
                            body.find("#managerId").val(data.manager);
                            // body.find("#membersId").val(data.members);
                            body.find("#company").val(data.company);
                            body.find("#grade").val(data.grade);
                            body.find("#contacts").val(data.contacts);
                            body.find("#phone").val(data.phone);
                            form.render('select');
                            form.render();
                        }
                    }
                )

            }
        })
    ;
</script>
</body>
</html>