<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>用户列表--layui后台管理模板 2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/css/public.css" media="all"/>
    <style>
        /*button level0 switch root_close::before {*/
        /*content: "\e623";*/
        /*}*/
        /*button level0 switch root_close::before {*/
        /*content: "\e623";*/
        /*}*/
    </style>

</head>
<body class="childrenBody">
<form class="layui-form">
    <input type="hidden" id="userId" th:value="${session.loginUserId}"/>
    <input type="hidden" id="projectId"/>
    <input id="departVal" type="hidden">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-input-inline">
                <input type="text" class="layui-input searchVal" style="width: 300px;"
                       placeholder="搜索条件：项目名称|编号|部门|项目经理"/>
            </div>
            <div class="layui-input-inline">
                <!--<select class="state" id="departmentSelect">-->
                <!--</select>-->
                <!--<input type="text" id="departmentSelect" lay-filter="tree" class="layui-input" >-->
                <input id="departmentSelect"/>
            </div>
            <div class="layui-input-inline">
                <select class="state" id="xmjxSelect">
                    <option value="">是否结项</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select class="state" id="sflxSelect" lay-search="" lay-filter="sflx">
                    <option value="">是否立项</option>
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select class="state" id="rjkfjdSelect">
                    <option value="">软件开发进度</option>
                    <option value="0">未开始</option>
                    <option value="1">工作中</option>
                    <option value="2">暂停中</option>
                    <option value="3">测试中</option>
                    <option value="4">完工</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select class="state" id="fawcqkSelect">
                    <option value="">方案完成情况</option>
                    <option value="0">未完成</option>
                    <option value="1">完成</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select class="state" id="cpxxwcqkSelect">
                    <option value="">产品选型完成情况</option>
                    <option value="0">未完成</option>
                    <option value="1">完成</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select class="state" id="zbzzwcqkSelect">
                    <option value="">招标组织完成情况</option>
                    <option value="0">未完成</option>
                    <option value="1">完成</option>
                    <option value="3">不招标</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select class="state" id="yzjhbqdSelect">
                    <option value="">用资计划表确定</option>
                    <option value="0">未通过</option>
                    <option value="1">通过</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select class="state" id="htqdSelect">
                    <option value="">合同签订</option>
                    <option value="0">未完成</option>
                    <option value="1">完成</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select class="state" id="yjcgSelect">
                    <option value="">硬件采购</option>
                    <option value="0">未开始</option>
                    <option value="1">销售合同签订中</option>
                    <option value="2">进行中</option>
                    <option value="3">完成</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select class="state" id="sgqrSelect">
                    <option value="">施工队确认</option>
                    <option value="0">未完成</option>
                    <option value="1">完成</option>
                    <option value="2">无</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select class="state" id="jcjdSelect">
                    <option value="">集成工作进度</option>
                    <option value="0">未开始</option>
                    <option value="1">到场</option>
                    <option value="2">实施</option>
                    <option value="3">完工</option>
                    <option value="4">验收</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <input type="text" name="htjeSearch" id="htjeSearch" class="layui-input htjesearchVal" style="width: 300px;"
                       placeholder="合同金额：100000|100000-200000"/>
            </div>
            <div class="layui-input-inline">
                <input type="text" name="yhjeSearch" id="yhjeSearch" class="layui-input hkjesearchVal" style="width: 300px;"
                       placeholder="已回金额：100000|100000-200000"/>
            </div>
            <div class="layui-input-inline">
                <select class="state" id="hktzSelect">
                    <option value="">回款通知</option>
                    <option value="0">未下达</option>
                    <option value="1">已下达</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select class="state" id="zbjthqkSelect">
                    <option value="">质保金退换情况</option>
                    <option value="0">未退还</option>
                    <option value="1">已退还</option>
                </select>
            </div>
            <div class="layui-inline">
                <a class="layui-btn search_btn" data-type="reload">搜索</a>
            </div>
            <shiro:hasPermission name="project:add">
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-normal add_btn">添加</a>
                </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="project:edit">
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-normal edit_btn">编辑</a>
                </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="project:del">
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-danger delAll_btn">删除</a>
                </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="project:export">
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-danger export_btn">导出当前页</a>
                </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="project:exportall">
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-danger exportall_btn">导出全部</a>
                </div>
            </shiro:hasPermission>
        </form>
    </blockquote>
    <table id="projectList" lay-filter="projectList"></table>
    <table id="ieexporttable" hidden></table>
    <!--审核状态-->
    <script type="text/html" id="newsStatus">
        {{#  if(d.newsStatus == "1"){ }}
        <span class="layui-red">等待审核</span>
        {{#  } else if(d.newsStatus == "0"){ }}
        <span class="layui-blue">已存草稿</span>
        {{#  } else { }}
        审核通过
        {{#  }}}
    </script>

    <!--操作-->
    <script type="text/html" id="newsListBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="look">预览</a>
    </script>
</form>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/project/list.js"></script>
<script type="text/javascript" src="/static/jointjs/jquery-3.3.1.js"></script>
<!--<script type="text/javascript" src="/static/xlsx/xlsx.full.min.js"></script>-->
<!--<script type="text/javascript" src="/static/xlsx/export.js"></script>-->
</body>
</html>