<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <!--<link href="https://www.dkiot.net/xzlt/static/question/static/css/main.css" rel="stylesheet">-->
    <link href="/static/question/static/css/main.css" rel="stylesheet">
    <!--<script type="text/javascript" src="https://www.dkiot.net/xzlt/static/question/config/ip.js"></script>-->
    <script type="text/javascript" src="/static/question/config/ip.js"></script>
</head>
<body>
<div id="root"></div>
<input id='ip' type="hidden"/>
</body>
<script type="text/javascript">
    console.log(window, "window....")
</script>
<!--<script type="text/javascript" src="https://www.dkiot.net/xzlt/static/question/static/js/main.js"></script>-->
<script type="text/javascript" src="/static/question/static/js/main.js"></script>
</body>
</html>
