<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlkj.admin.dao.DepartmentMapper">

    <select id="findDepartmentHasNOChildren" resultType="com.zlkj.admin.entity.Department">
        SELECT id,bmmc,pid FROM sys_department WHERE NOT FIND_IN_SET(id,(SELECT GROUP_CONCAT(DISTINCT CAST(pid AS CHAR)) FROM sys_department))
    </select>
</mapper>