<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlkj.admin.mapper.ProjectMapper">
    <select id="getProjectCount" resultType="java.lang.Integer"
            parameterType="com.xieke.admin.dto.ProjectInfo">
        SELECT count(*) FROM biz_project p
        <where>
            <if test="viewall!=null and viewall!=true">
                <choose>
                    <when test="department!=null and department!=''">
                        and department = #{department}
                    </when>
                    <otherwise>
                        <choose>
                            <when test="ids!=null">
                                and department in
                                <foreach collection="ids" item="id" index="index"
                                         open="(" close=")" separator=",">
                                    #{id}
                                </foreach>
                            </when>
                            <otherwise>
                                and (p.lrr =#{lrr} or p.manager = #{manager})
                            </otherwise>
                        </choose>
                    </otherwise>
                </choose>
            </if>
            <if test="rjkfjd!=null and rjkfjd != '' or rjkfjd==0">
                and rjkfjd = #{rjkfjd}
            </if>
            <if test="fawcqk!=null and fawcqk != '' or fawcqk==0">
                and fawcqk = #{fawcqk}
            </if>
            <if test="cpxxwcqk!=null and cpxxwcqk != '' or cpxxwcqk==0">
                and cpxxwcqk = #{cpxxwcqk}
            </if>
            <if test="zbzzwcqk!=null and zbzzwcqk != '' or zbzzwcqk==0">
                and zbzzwcqk = #{zbzzwcqk}
            </if>
            <if test="yzjhbqd!=null and yzjhbqd != '' or yzjhbqd==0">
                and yzjhbqd = #{yzjhbqd}
            </if>
            <if test="htqd!=null and htqd != '' or htqd==0">
                and htqd = #{htqd}
            </if>
            <if test="yjcg!=null and yjcg != '' or yjcg==0">
                and yjcg = #{yjcg}
            </if>
            <if test="sgqr!=null and sgqr != '' or sgqr==0">
                and sgqr = #{sgqr}
            </if>
            <if test="jcjd!=null and jcjd != '' or jcjd==0">
                and jcjd = #{jcjd}
            </if>
            <if test="sflx!=null and sflx != '' or sflx==0">
                and sflx = #{sflx}
            </if>
            <if test="hktz!=null and hktz != '' or hktz==0">
                and hktz = #{hktz}
            </if>
            <if test="zbjthqk!=null and zbjthqk != '' or zbjthqk==0">
                and zbjthqk = #{zbjthqk}
            </if>
            <if test="htje1!=null and htje1!=''">
                <choose>
                    <when test="htje2!=null and htje2!=''">
                        and (htje BETWEEN #{htje1} AND #{htje2})
                    </when>
                    <otherwise>
                        and htje = #{htje1}
                    </otherwise>
                </choose>
            </if>
            <if test="yhje1!=null and yhje1!=''">
                <choose>
                    <when test="yhje2!=null and yhje2!=''">
                        and (hkqk BETWEEN #{yhje1} AND #{yhje2})
                    </when>
                    <otherwise>
                        and hkqk = #{yhje1}
                    </otherwise>
                </choose>
            </if>
        </where>

    </select>
    <select id="findProjectByFuzzySearchVal" resultType="com.xieke.admin.dto.ProjectInfo"
            parameterType="com.xieke.admin.dto.ProjectInfo">
        SELECT p.*,d.bmmc AS bmmc, u.name AS user_name FROM biz_project p LEFT JOIN sys_department d ON
        p.`department`=d.id LEFT JOIN sys_user u ON u.`id`=p.`manager`
        <where>
            <if test="fuzzySearchVal !=null and fuzzySearchVal!='' ">
                CONCAT(p.`name`,p.`number`,d.`bmmc`,u.`name`) LIKE CONCAT('%',#{fuzzySearchVal},'%')
            </if>
            <if test="xmjx!=null and xmjx != '' or xmjx==0">
                and xmjx = #{xmjx}
            </if>
            <if test="viewall!=null and viewall != true ">
                <choose>
                    <when test="department!=null and department!=''">
                        and department = #{department}
                    </when>
                    <otherwise>
                        <choose>
                            <when test="ids!=null">
                                and department in
                                <foreach collection="ids" item="id" index="index"
                                         open="(" close=")" separator=",">
                                    #{id}
                                </foreach>
                            </when>
                            <otherwise>
                                and (p.lrr =#{lrr} or p.manager = #{manager})
                            </otherwise>
                        </choose>
                    </otherwise>
                </choose>
            </if>

            <if test="rjkfjd!=null and rjkfjd != '' or rjkfjd==0">
                and rjkfjd = #{rjkfjd}
            </if>
            <if test="fawcqk!=null and fawcqk != '' or fawcqk==0">
                and fawcqk = #{fawcqk}
            </if>
            <if test="cpxxwcqk!=null and cpxxwcqk != '' or cpxxwcqk==0">
                and cpxxwcqk = #{cpxxwcqk}
            </if>
            <if test="zbzzwcqk!=null and zbzzwcqk != '' or zbzzwcqk==0">
                and zbzzwcqk = #{zbzzwcqk}
            </if>
            <if test="yzjhbqd!=null and yzjhbqd != '' or yzjhbqd==0">
                and yzjhbqd = #{yzjhbqd}
            </if>
            <if test="htqd!=null and htqd != '' or htqd==0">
                and htqd = #{htqd}
            </if>
            <if test="yjcg!=null and yjcg != '' or yjcg==0">
                and yjcg = #{yjcg}
            </if>
            <if test="sgqr!=null and sgqr != '' or sgqr==0">
                and sgqr = #{sgqr}
            </if>
            <if test="jcjd!=null and jcjd != '' or jcjd==0">
                and jcjd = #{jcjd}
            </if>
            <if test="sflx!=null and sflx != '' or sflx==0">
                and sflx = #{sflx}
            </if>
            <if test="hktz!=null and hktz != '' or hktz==0">
                and hktz = #{hktz}
            </if>
            <if test="zbjthqk!=null and zbjthqk != '' or zbjthqk==0">
                and zbjthqk = #{zbjthqk}
            </if>
            <if test="htje1!=null and htje1!=''">
                <choose>
                    <when test="htje2!=null and htje2!=''">
                        and (htje BETWEEN #{htje1} AND #{htje2})
                    </when>
                    <otherwise>
                        and htje = #{htje1}
                    </otherwise>
                </choose>
            </if>
            <if test="yhje1!=null and yhje1!=''">
                <choose>
                    <when test="yhje2!=null and yhje2!=''">
                        and (hkqk BETWEEN #{yhje1} AND #{yhje2})
                    </when>
                    <otherwise>
                        and hkqk = #{yhje1}
                    </otherwise>
                </choose>
            </if>
        </where>
        <choose>
            <when test="field!=null and field !=''">
                order by ${field} ${order}
            </when>
            <otherwise>
                order by SUBSTR(p.number,9,11)
            </otherwise>
        </choose>
        <if test="limit1!=null and limit2 !=null">
            limit #{limit1},#{limit2}
        </if>


    </select>
    <select id="findProjectbyId" resultType="com.xieke.admin.dto.ProjectInfo" parameterType="java.lang.Integer">
        SELECT
            p.id,
            p.`name`,
            p.`number`,
            p.lxsj,
            p.rjkfjd,
            p.fawcqk,
            p.cpxxwcqk,
            p.zbzzwcqk,
            p.yzjhbqd,
            p.htqd,
            p.yjcg,
            p.sgqr,
            p.jcjd,
            p.htje,
            p.hkqk,
            p.whje,
            p.whsx,
            p.hktz,
            p.ml,
            p.zbj,
            p.zbjthqk,
            p.zbjthsx,
            p.xmjx,
            p.lrr,
            p.xgr,
            p.create_time                 AS createTime,
            p.update_time                 AS updateTime,

            (SELECT d.bmmc
             FROM sys_department d
             WHERE d.id = p.`department`) AS bmmc,
            (SELECT u.name
             FROM sys_user u
             WHERE u.id = p.`manager`)    AS userName
        FROM biz_project p
        WHERE id = #{id};
    </select>
    <select id="getAddSequence" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT MAX(SUBSTR(number, 9, 3)) AS `sequence`
        FROM biz_project
        WHERE SUBSTR(number, 1, 4) = #{year};
    </select>
    <select id="getProjectCountByDepartment" resultType="com.xieke.admin.dto.ProjectCountInfo">
        SELECT
            department,
            (SELECT bmmc
             FROM sys_department
             WHERE id = p.`department`) AS bmmc,
            COUNT(*)                       COUNT
        FROM biz_project p
        GROUP BY department
    </select>


</mapper>